<div class="tabs">
	<div class="tabs__header">
		<div class="tabs__header-item active">О компании</div>
		<div class="tabs__header-item">Руководство</div>
		<div class="tabs__header-item">Почему мы?</div>
	</div>
	<div class="tabs__content">
		<div class="tabs__content-item tab1">
			<h2 class="tab1__title tab-title">Липецкая компания "ЭкоДом"</h2>
			<div class="tab1__content">
				<div class="tab1__inner-img">
					<img
						class="tab1__img"
						src="img/about/about-video.jpg"
						alt="Видео о компании"
					/>
				</div>
				<p class="tab1__text tab-text">
					В&nbsp;зависимости от&nbsp;пожеланий клиентов, мы&nbsp;можем построить
					дом любой сложности как по&nbsp;уже готовым, так
					и&nbsp;по&nbsp;индивидуальным проектам, разработку которых наши
					специалисты также предоставляют.
				</p>
				<p class="tab1__text tab-text">
					Мы работаем в&nbsp;сфере строительства уже более 13&nbsp;лет.
					На&nbsp;данный момент более 500 семей стали обладателями собственных
					домов благодаря нашей компании. За&nbsp;это время у&nbsp;нас накопился
					значительный опыт в&nbsp;работе эффективного и&nbsp;надежного
					строительства домов, что вызывает доверие у&nbsp;наших текущих
					и&nbsp;будущих клиентов.
				</p>
			</div>
		</div>
		<div class="tabs__content-item tab2">
			<div class="tab2__inner-img">
				<img
					class="tab2__img"
					src="../../img/about/head.jpg"
					alt="Глава компании"
				/>
			</div>
			<div class="tab2__content">
				<h2 class="tab2__title tab-title">
					Здравствуйте, меня зовут Евгений Халипа
				</h2>
				<p class="tab2__text tab-text">
					Я, как руководитель отдела, гарантирую вам, что ваш дом будет построен
					качественно, в&nbsp;срок.
				</p>
			</div>
		</div>
		<div class="tabs__content-item tab3">
			<div class="tab3__inner-img">
				<img
					class="tab3__img"
					src="../../img/about/command.jpg"
					alt="Команда"
				/>
			</div>
			<ul class="tab3__list list-reset">
				<li class="tab3__item">
					Отработаны процессы и&nbsp;накоплен огромный опыт.
				</li>
				<li class="tab3__item">
					Строим под ключ: от&nbsp;геоизысканий участка до&nbsp;ландшафтных
					работ.
				</li>
				<li class="tab3__item">
					Благодаря комплексному подходу с&nbsp;нами спокойно.
				</li>
				<li class="tab3__item">
					Мы&nbsp;всегда дорабатываем проект дома под выбранный участок
					и&nbsp;потребности каждого из&nbsp;будущих жильцов.
				</li>
				<li class="tab3__item">Строгое соблюдение ГОСТ, СНиП.</li>
				<li class="tab3__item">
					Полный цикл&nbsp;&mdash; от&nbsp;лесозаготовки до&nbsp;готового дома
					под ключ.
				</li>
			</ul>
		</div>
	</div>
</div>
